<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vipulog.ebookreader.EbookReaderDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <activity
            android:name="com.vipulog.ebookreader.ReaderActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/vnd.amazon.ebook" />
                <data android:mimeType="application/fb2+zip" />
                <data android:mimeType="application/vnd.comicbook+zip" />

                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.kf8" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.cbz" />

                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.vipulog.ebookreader.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>